*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background: green;
}

.cardscontainer{
   width: 94%;
   display: flex;
   flex-wrap: wrap;
   gap: 40px;
}


.product{
   min-height: 100vh;
   display: flex;
   flex-direction: column;
   gap: 40px;
   justify-content: center;
   align-items: center;
}

.card{
   background-color: #fff;
   border-radius: 15px;
   height: 300px;
   width: 250px;
   padding: 14px;
   display: flex;
   flex-direction: column;
   gap: 14px;

}

.card-img{
   width: 100%;
   height: 100px;
   object-fit: contain;
}

.title{
   font-size: 16px;
}

.description{
   font-size: 12px;
}

.price{
   font-weight: 700;
}

.cardbtn{
   margin-top: auto;
   display: flex;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.cardbtn button{
   outline: transparent;
   background-color: violet;
   border: 1px solid #58a8b2;
   border-radius: 8px;
   padding: 6px 12px;
   color: #fff;
}